doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        meta(name='viewport' content='width=device-width')
        link(rel="stylesheet" href="css/main.min.css")
        title Тестовый лендинг
    body
        - var links = ['Home', 'Contacts', 'About', 'Price']
        - var anoterLinks = ['AnoterHome', 'AnoterContacts']


        ul.list
            each link in links
                li.list__item
                    if link === 'Home'
                        span=link
                    else
                        a(href="#").list__link=link

        ul
            each link in anoterLinks
                li
                    if link === 'AnoterHome'
                        span=link
                    else
                        a(href="#")=link
